body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* Main Navigation */
.container {
    padding: 16px;
     background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The wallet (background) */
.wallet {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

.active {
  background-color: #4CAF50;
}

ul#navigation {
	justify-content: space-around;
	width:97%;
    margin:0px auto;
    position:relative;
	background-color: #333;
    float:left;
  	color: #f2f2f2;
  	text-align: center;
  	display: inline-flex;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
 
ul#navigation li {
	justify-content: space-between;
    display:inline;
    font-size:17px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}
 
ul#navigation li a {
    padding:10px 25px;
    color:#f2f2f2;
    text-decoration:none;
    display:inline-block;
    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}
 
ul#navigation li a:hover {
    background-color: #ddd;
  	color: black;
    /*function(){ $(this).removeClass('active')*/
}
 
 
ul#navigation li:hover > a {
    background-color: #4CAF50;
  	color: white;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=tel]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The wallet (background) */
.wallet {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* wallet Content/Box */
.wallet-signup-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 2%;
}
th, td {
  padding: 15px;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: #333;
  color: white;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.cancelbtn, .sendmoneybtn {
  float: left;
  width: 50%;
}
.signoutbtn {
    background-color: #f44336;
    padding: 0 0; 
    margin: 0 0; 
    width: 10%;
    font-size: 15px;
}
.search-container {
  /*float: right;*/
}
.search-container button:hover {
  background: #ccc;
}

.search-container button {
  float: right;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


